<div class="retro-container mt-4">
    <div class="retro-window">
        <div class="retro-title-bar">
            <span>{{ isEditMode ? 'Edit Exercise' : 'Add New Exercise' }}</span>
        </div>
        <div class="retro-content">
            <form [formGroup]="exerciseForm" (ngSubmit)="onSave()">
                <div class="form-group">
                    <label for="exerciseName">Exercise Name</label>
                    <input type="text" id="exerciseName" class="form-control"
                        formControlName="name"
                        placeholder="Enter exercise name">
                </div>
                <div class="form-group">
                    <label for="exerciseSets">Sets and Reps</label>
                    <input type="text" id="exerciseSets" class="form-control"
                        formControlName="sets"
                        placeholder="e.g., 1x8-10+20”RP+AMRAP, 2x12">
                </div>
                <div class="form-group">
                    <label for="exerciseDescription">Description</label>
                    <textarea id="exerciseDescription" class="form-control"
                        formControlName="description" rows="3"
                        placeholder="Enter exercise description"></textarea>
                </div>
                <div class="form-group">
                    <label for="exerciseRIR">RIR</label>
                    <input type="text" id="exerciseRIR" class="form-control"
                        formControlName="RIR"
                        placeholder="Enter RIR (e.g., 1-2)">
                </div>
                <div class="form-group">
                    <label for="exerciseLink">External Link</label>
                    <input type="text" id="exerciseLink" class="form-control"
                        formControlName="external_link"
                        placeholder="Enter external link">
                </div>
                <div class="retro-buttons">
                    <button type="button" class="retro-cancel-button"
                        (click)="onCancel()">
                        <i class="fas fa-times"></i>
                    </button>
                    <button type="submit" class="retro-save-button">
                        <i class="fas fa-save"></i>
                    </button>
                    <button *ngIf="isEditMode" type="button"
                        class="retro-delete-button" (click)="onDelete()">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" *ngIf="showSaveModal">
    <div class="modal-content">
        <p>Are you sure you want to save the changes?</p>
        <div class="retro-buttons">
            <button type="button" class="retro-cancel-button"
                (click)="cancelSave()"><i class="fas fa-times"></i></button>
            <button type="button" class="retro-save-button"
                (click)="confirmSave()"><i class="fas fa-save"></i></button>
        </div>
    </div>
</div>


<div class="modal" *ngIf="showDeleteModal">
    <div class="modal-content">
        <p>Are you sure you want to delete this exercise?</p>
        <div class="retro-buttons">
            <button type="button" class="retro-cancel-button"
                (click)="cancelDelete()"><i class="fas fa-times"></i></button>
            <button type="button" class="retro-delete-button"
                (click)="confirmDelete()"><i class="fas fa-trash"></i></button>
        </div>
    </div>
</div>