<div class="retro-container mt-4">
  <div class="button-group">
    <button class="retro-exit-button" (click)="goBack()">
      <i class="fas fa-door-open"></i> Exit to Menu
    </button>
    
    <button class="retro-edit-button" (click)="editExercise()">
      <i class="fas fa-edit"></i>
    </button>
  </div>
  <div class="retro-window">
    <div class="retro-title-bar">
      <span *ngIf="currentExercise; else loading">
        {{ currentExercise.name }}
      </span>
    </div>
    <div class="retro-content">
      <ng-container *ngIf="currentExercise; else loading">
        <p>{{ currentExercise.description }}</p>
        <ul class="retro-list">
          <li *ngFor="let rep of currentExercise.sets; let i = index">
            {{ rep }} reps
          </li>
        </ul>
        <p><strong>RIR:</strong> {{ currentExercise.RIR }}</p>
        <div class="retro-buttons">
          <button class="workout-button-icon" (click)="previousExercise()" [disabled]="currentExerciseIndex === 0">
            <i class="fas fa-arrow-left"></i>
          </button>
          <button *ngIf="!isLastExercise()" class="workout-button-icon" (click)="nextExercise()">
            <i class="fas fa-arrow-right"></i>
          </button>
          <button *ngIf="isLastExercise()" class="workout-button-icon" (click)="finishWorkout()">
            <i class="fas fa-flag-checkered"></i>
          </button>
        </div>
      </ng-container>
      <ng-template #loading>
        Loading...
      </ng-template>
    </div>
  </div>
</div>
